.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #ffffff;
    color: #f2f2f2;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 12px;
    margin-left: 12px;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: #f2f2f2;
    text-decoration: none;
}

/* .headerLogo {
    height: 40px;
} */

.headerTitle {
    margin-left: 12px;
    font-weight: 600;
    color: #333333;
}

/* start additions */

.headerNav {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.headerNavItem {
    margin: 0 10px;
}

.headerNavItem:first-child {
    margin-left: 0;
    padding-left: 120px;
}

.headerNavItem:last-child {
    margin-right: 0;
}

.headerNavLink {
    text-decoration: none;
}

.headerLogo {
    display: block;
    margin: 0 auto;
}

/* end additions */

.headerNavList {
    display: flex;
    list-style: none;
    padding-left: 0;
    /* flex-direction: row; */
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

.styles.headerNavList li {
    margin: 0 10px; /* add some margin between the items */
}

.styles.headerNavList .headerNavLeftMargin {
    margin-left: 20px;
}

.styles.headerNavList .headerNavCentered {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px; /* add some padding to the top */
    height: 40px;
}

.headerNavPageLink {
    color: #333333;
    text-decoration: none;
    opacity: 0.75;

    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity;
}

.headerNavPageLink:hover {
    opacity: 1;
}

.headerNavPageLinkActive {
    color: #333333;
    text-decoration: none;
}

.headerNavLeftMargin {
    margin-left: 20px;
}

.headerNavLeftMargin {
    margin-right: 20px;
}

.headerRightText {
    font-weight: normal;
    margin-left: 40px;
    color: #333333;
}

.microsoftLogo {
    height: 23px;
    font-weight: 600;
}

.githubLogo {
    height: 20px;
}
